In [25]:
import warnings
warnings.filterwarnings('ignore')

In [26]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [27]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [28]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [29]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   loan_status                 68817 non-null  object
 8   pymnt_plan                  68817 non-null  object
 9   dti                         68817 non-null  float64
 10  delinq_2yrs                 68817 non-null  float64
 11  inq_last_6mths              68817 non-null  float64
 12  open_acc                    68817 non-null  float64
 13  pub_rec                     68817 non-null  float64
 14  revol_bal                   68817 non-null  float64
 15  total_acc                   68817 non-null  float64
 16  initial_list_status         68817 non-null  object
 17  out_prncp                   68817 non-null  float64
 18  out_prncp_inv               68817 non-null  float64
 19  total_pymnt                 68817 non-null  float64
 20  total_pymnt_inv             68817 non-null  float64
 21  total_rec_prncp             68817 non-null  float64
 22  total_rec_int               68817 non-null  float64
 23  total_rec_late_fee          68817 non-null  float64
 24  recoveries                  68817 non-null  float64
 25  collection_recovery_fee     68817 non-null  float64
 26  last_pymnt_amnt             68817 non-null  float64
 27  next_pymnt_d                68817 non-null  object
 28  collections_12_mths_ex_med  68817 non-null  float64
 29  policy_code                 68817 non-null  float64
 30  application_type            68817 non-null  object
 31  acc_now_delinq              68817 non-null  float64
 32  tot_coll_amt                68817 non-null  float64
 33  tot_cur_bal                 68817 non-null  float64
 34  open_acc_6m                 68817 non-null  float64
 35  open_act_il                 68817 non-null  float64
 36  open_il_12m                 68817 non-null  float64
 37  open_il_24m                 68817 non-null  float64
 38  mths_since_rcnt_il          68817 non-null  float64
 39  total_bal_il                68817 non-null  float64
 40  il_util                     68817 non-null  float64
 41  open_rv_12m                 68817 non-null  float64
 42  open_rv_24m                 68817 non-null  float64
 43  max_bal_bc                  68817 non-null  float64
 44  all_util                    68817 non-null  float64
 45  total_rev_hi_lim            68817 non-null  float64
 46  inq_fi                      68817 non-null  float64
 47  total_cu_tl                 68817 non-null  float64
 48  inq_last_12m                68817 non-null  float64
 49  acc_open_past_24mths        68817 non-null  float64
 50  avg_cur_bal                 68817 non-null  float64
 51  bc_open_to_buy              68817 non-null  float64
 52  bc_util                     68817 non-null  float64
 53  chargeoff_within_12_mths    68817 non-null  float64
 54  delinq_amnt                 68817 non-null  float64
 55  mo_sin_old_il_acct          68817 non-null  float64
 56  mo_sin_old_rev_tl_op        68817 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 58  mo_sin_rcnt_tl              68817 non-null  float64
 59  mort_acc                    68817 non-null  float64
 60  mths_since_recent_bc        68817 non-null  float64
 61  mths_since_recent_inq       68817 non-null  float64
 62  num_accts_ever_120_pd       68817 non-null  float64
 63  num_actv_bc_tl              68817 non-null  float64
 64  num_actv_rev_tl             68817 non-null  float64
 65  num_bc_sats                 68817 non-null  float64
 66  num_bc_tl                   68817 non-null  float64
 67  num_il_tl                   68817 non-null  float64
 68  num_op_rev_tl               68817 non-null  float64
 69  num_rev_accts               68817 non-null  float64
 70  num_rev_tl_bal_gt_0         68817 non-null  float64
 71  num_sats                    68817 non-null  float64
 72  num_tl_120dpd_2m            68817 non-null  float64
 73  num_tl_30dpd                68817 non-null  float64
 74  num_tl_90g_dpd_24m          68817 non-null  float64
 75  num_tl_op_past_12m          68817 non-null  float64
 76  pct_tl_nvr_dlq              68817 non-null  float64
 77  percent_bc_gt_75            68817 non-null  float64
 78  pub_rec_bankruptcies        68817 non-null  float64
 79  tax_liens                   68817 non-null  float64
 80  tot_hi_cred_lim             68817 non-null  float64
 81  total_bal_ex_mort           68817 non-null  float64
 82  total_bc_limit              68817 non-null  float64
 83  total_il_high_credit_limit  68817 non-null  float64
 84  hardship_flag               68817 non-null  object
 85  debt_settlement_flag        68817 non-null  object
dtypes: float64(76), object(10)
memory usage: 45.2+ MB

# Split the Data into Training and Testing

In [30]:
# Create our features
df_dumm = pd.get_dummies(df, columns=["home_ownership","int_rate",
                                            "verification_status","issue_d",
                                            "pymnt_plan",
                                            "initial_list_status",
                                            "next_pymnt_d",
                                             "application_type",
                                            "hardship_flag",
                                            "debt_settlement_flag",
                                            ])

In [31]:
df_dumm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Columns: 147 entries, loan_amnt to debt_settlement_flag_N
dtypes: float64(75), object(1), uint8(71)
memory usage: 44.6+ MB

In [32]:
df_dumm.head(5)

,loan_amnt,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [10]:
# Create our features
 # YOUR CODE HERE
X = df_dumm.drop(columns="loan_status")
X

,loan_amnt,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,14.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,34.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,21.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,23.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,28.0,...,1,1,0,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,346.76,26000.0,9.60,0.0,0.0,9.0,0.0,2684.0,20.0,...,0,1,0,1,0,1,1,0,1,1
68813,12000.0,368.37,63000.0,29.07,0.0,0.0,8.0,0.0,13314.0,26.0,...,0,1,0,1,0,1,1,0,1,1
68814,5000.0,185.62,52000.0,14.86,0.0,0.0,5.0,1.0,3715.0,14.0,...,0,1,0,1,0,1,1,0,1,1
68815,40000.0,1225.24,520000.0,9.96,0.0,1.0,21.0,0.0,59529.0,57.0,...,0,1,1,0,0,1,1,0,1,1
68816,16000.0,350.36,72000.0,7.02,2.0,0.0,12.0,1.0,11882.0,39.0,...,0,1,0,1,0,1,1,0,1,1

In [11]:
X.describe()

,loan_amnt,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,24.666347,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,12.318917,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,3.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,16.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,23.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,31.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,164.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [12]:
X.describe()

,loan_amnt,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,24.666347,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,12.318917,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,3.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,16.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,23.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,31.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,164.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [13]:
# Create our target
y = df_dumm["loan_status"]

# Create our target
y = pd.DataFrame(df_dumm["loan_status"])
y

      loan_status
0        low_risk
1        low_risk
2        low_risk
3        low_risk
4        low_risk
...           ...
68812    low_risk
68813    low_risk
68814    low_risk
68815    low_risk
68816    low_risk

[68817 rows x 1 columns]

In [14]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'loan_status': 1})

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [17]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# Fitting the model
brf_model = brf_model.fit(X_train, y_train)

# Making predictions using the testing data
predictions = brf_model.predict(X_test)
brf_model

BalancedRandomForestClassifier(random_state=1)

In [18]:
# Calculated the balanced accuracy score of Balanced Random Forest Classifier

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

y_pred = brf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.775955077383323

In [19]:
# Display the confusion matrix
confusion_matrix(y_test, predictions)

array([[   66,    35],
       [ 1737, 15367]], dtype=int64)

In [20]:
# Print the imbalanced classification report of Balanced Random Forest Classifier
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.65      0.90      0.07      0.77      0.57       101
   low_risk       1.00      0.90      0.65      0.95      0.77      0.60     17104

avg / total       0.99      0.90      0.65      0.94      0.77      0.60     17205

In [24]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.06921227141294864, 'total_pymnt_inv'),
 (0.06241680262238971, 'total_pymnt'),
 (0.056657269407241445, 'total_rec_int'),
 (0.05602167115917385, 'total_rec_prncp'),
 (0.0497078352095057, 'last_pymnt_amnt'),
 (0.01879109933730754, 'mths_since_recent_inq'),
 (0.0186187353788643, 'installment'),
 (0.018104637736880657, 'out_prncp_inv'),
 (0.017378911316513472, 'issue_d_Jan-2019'),
 (0.017094200234712534, 'out_prncp'),
 (0.016843416346205328, 'dti'),
 (0.01620680575355882, 'mo_sin_old_rev_tl_op'),
 (0.015863600601260065, 'max_bal_bc'),
 (0.01556411393156507, 'bc_util'),
 (0.015434496414991268, 'mths_since_rcnt_il'),
 (0.014887180162199014, 'total_bal_il'),
 (0.014409322852078098, 'revol_bal'),
 (0.014380740157274674, 'total_bc_limit'),
 (0.014056708662305272, 'tot_cur_bal'),
 (0.013954122302993963, 'avg_cur_bal'),
 (0.013787807957325005, 'annual_inc'),
 (0.013507576435414363, 'total_bal_ex_mort'),
 (0.013165966286163804, 'il_util'),
 (0.012874311549963673, 'mo_sin_old_il_acct'),
 (0.012739489640521996, 'num_rev_accts'),
 (0.012678964907134044, 'tot_hi_cred_lim'),
 (0.012604473517524743, 'total_il_high_credit_limit'),
 (0.0125093438495261, 'total_rev_hi_lim'),
 (0.012295668206730184, 'bc_open_to_buy'),
 (0.012141973515752597, 'mths_since_recent_bc'),
 (0.011850173443573182, 'all_util'),
 (0.011556053832988269, 'loan_amnt'),
 (0.011269306780439595, 'total_acc'),
 (0.011082198430058279, 'num_il_tl'),
 (0.010315740182117212, 'mo_sin_rcnt_tl'),
 (0.010020527188287427, 'mo_sin_rcnt_rev_tl_op'),
 (0.009932432266067914, 'inq_last_12m'),
 (0.009869213628149475, 'num_sats'),
 (0.009585568778662236, 'num_actv_bc_tl'),
 (0.00923793192787916, 'open_acc_6m'),
 (0.009038776630015009, 'issue_d_Mar-2019'),
 (0.008995152178843521, 'inq_fi'),
 (0.008726317795216109, 'pct_tl_nvr_dlq'),
 (0.008669565345640088, 'open_acc'),
 (0.008577901714108127, 'percent_bc_gt_75'),
 (0.008557091748015309, 'num_actv_rev_tl'),
 (0.008457229290168544, 'acc_open_past_24mths'),
 (0.008053721749677983, 'num_bc_tl'),
 (0.008029887437212646, 'num_bc_sats'),
 (0.007894915754617671, 'num_tl_op_past_12m'),
 (0.007573571960480918, 'num_rev_tl_bal_gt_0'),
 (0.007118643591906812, 'open_il_24m'),
 (0.0070650568296058225, 'total_rec_late_fee'),
 (0.0068511691969218354, 'num_op_rev_tl'),
 (0.006356980927247351, 'mort_acc'),
 (0.006288339835331898, 'open_rv_24m'),
 (0.005977012638593119, 'open_il_12m'),
 (0.005790572819973206, 'total_cu_tl'),
 (0.005247734838282063, 'inq_last_6mths'),
 (0.004770938129450674, 'issue_d_Feb-2019'),
 (0.004610635560681505, 'open_rv_12m'),
 (0.004572187367146522, 'open_act_il'),
 (0.004420561134116573, 'next_pymnt_d_Apr-2019'),
 (0.004418682750314795, 'next_pymnt_d_May-2019'),
 (0.0043133740684965635, 'tot_coll_amt'),
 (0.0041867979763870735, 'delinq_2yrs'),
 (0.0030527699496706263, 'num_accts_ever_120_pd'),
 (0.0029948685171062384, 'application_type_Joint App'),
 (0.002616338104547027, 'verification_status_Source Verified'),
 (0.002457908943842789, 'int_rate_0.1298'),
 (0.0024500781537339623, 'verification_status_Not Verified'),
 (0.0022073311918813275, 'pub_rec_bankruptcies'),
 (0.0021659169165791047, 'int_rate_0.19920000000000002'),
 (0.0020172612931746935, 'pub_rec'),
 (0.0019739205251499766, 'home_ownership_OWN'),
 (0.0019659723374057755, 'int_rate_0.1356'),
 (0.0018643430079329833, 'int_rate_0.1797'),
 (0.001820384924008074, 'int_rate_0.0819'),
 (0.0017958567755855567, 'home_ownership_RENT'),
 (0.0017717188495176518, 'initial_list_status_f'),
 (0.0015972203858532993, 'application_type_Individual'),
 (0.0015550488107460775, 'verification_status_Verified'),
 (0.0015077009945495409, 'int_rate_0.08810000000000001'),
 (0.0014470537175176523, 'int_rate_0.16140000000000002'),
 (0.0014197013448083854, 'initial_list_status_w'),
 (0.0012478051443512747, 'home_ownership_MORTGAGE'),
 (0.0011865284954727005, 'num_tl_90g_dpd_24m'),
 (0.0010719646320114698, 'int_rate_0.2631'),
 (0.0010126744813635706, 'int_rate_0.1072'),
 (0.0009352166138285597, 'int_rate_0.0756'),
 (0.000925670485328439, 'int_rate_0.1447'),
 (0.000917256433590614, 'int_rate_0.1502'),
 (0.000912242418236127, 'int_rate_0.1131'),
 (0.0009098944055019525, 'int_rate_0.11800000000000001'),
 (0.0007815161241992079, 'int_rate_0.1894'),
 (0.0007170508733486319, 'int_rate_0.0702'),
 (0.0006895819614818402, 'int_rate_0.0646'),
 (0.0006784291052268141, 'int_rate_0.1691'),
 (0.0006584966018592796, 'int_rate_0.1033'),
 (0.0005965731631469929, 'int_rate_0.2089'),
 (0.0005650871986651804, 'int_rate_0.23399999999999999'),
 (0.0005335614822281118, 'int_rate_0.2727'),
 (0.000414484616775001, 'collections_12_mths_ex_med'),
 (0.0003643687084522967, 'int_rate_0.2'),
 (0.00036281928496102885, 'int_rate_0.1474'),
 (0.00035305075416025116, 'int_rate_0.2235'),
 (0.0002931832345411861, 'int_rate_0.139'),
 (0.00028231975865265573, 'int_rate_0.11019999999999999'),
 (0.0002680628060808029, 'int_rate_0.11710000000000001'),
 (0.00023676769809624347, 'int_rate_0.1557'),
 (0.00022254526033797757, 'int_rate_0.225'),
 (0.00020123224836035672, 'int_rate_0.1308'),
 (0.00017614824334159364, 'int_rate_0.17190000000000003'),
 (0.000169736885146673, 'chargeoff_within_12_mths'),
 (0.00013593125496881927, 'int_rate_0.124'),
 (9.60473634892239e-05, 'int_rate_0.16399999999999998'),
 (8.482852224576268e-05, 'int_rate_0.28800000000000003'),
 (6.616744735888754e-05, 'int_rate_0.2534'),
 (5.987895687936193e-05, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'int_rate_0.3084'),
 (0.0, 'int_rate_0.3079'),
 (0.0, 'int_rate_0.3075'),
 (0.0, 'int_rate_0.3065'),
 (0.0, 'int_rate_0.3017'),
 (0.0, 'int_rate_0.2969'),
 (0.0, 'int_rate_0.29350000000000004'),
 (0.0, 'int_rate_0.29'),
 (0.0, 'int_rate_0.2897'),
 (0.0, 'int_rate_0.2895'),
 (0.0, 'int_rate_0.2892'),
 (0.0, 'int_rate_0.289'),
 (0.0, 'int_rate_0.2872'),
 (0.0, 'int_rate_0.25'),
 (0.0, 'int_rate_0.2437'),
 (0.0, 'int_rate_0.06'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [22]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)

# Fitting the model
eec_model = eec_model.fit(X_train, y_train)

# Making predictions using the testing data
predictions = eec_model.predict(X_test)

In [23]:
# Calculated the balanced accuracy score of Easy Ensemble AdaBoost Classifier
y_pred = eec_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9322840931193213

In [24]:
# Display the confusion matrix
confusion_matrix(y_test, predictions)

array([[   94,     7],
       [ 1131, 15973]], dtype=int64)

In [25]:
# Print the imbalanced classification report of Easy Ensemble AdaBoost Classifier
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.08      0.93      0.93      0.14      0.93      0.87       101
   low_risk       1.00      0.93      0.93      0.97      0.93      0.87     17104

avg / total       0.99      0.93      0.93      0.96      0.93      0.87     17205